ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.text-center{
    text-align: center;
}
.box{
    max-width: 20em;
    height: 10em;
	padding: 2em;
	margin: 2em auto 0;
	font: 100%/1.5 sans-serif;
}
